.tooltip {
    pointer-events:none; /*let mouse events pass through*/
    opacity:0;
    transition: opacity 0.3s;
    text-shadow:1px 1px 0px gray;
}
g .tooltip:not(.css) {
  fill:currentColor;
}
rect:hover + g.tooltip.css {
  opacity:1;
}